.collapsible .toggle {
    background: rgb(169, 246, 4);
    border: unset;
    cursor:pointer;
    font:unset;
    padding:0.5em;
    height:40px;
    width:90px;
    border-radius:5px;
    margin-bottom:0.5em;

    
}

.collapsible .content {
    border: 1px solid #afafaf;
    max-width:150px;
    padding:0.2em;
    border-radius:5px;
  

}

.collapsible .content-parent {

    height:0px;
    overflow:hidden;
    transition: height ease 0.3s;
    
}
    
